html,
body,
#__next {
  /* height: calc(var(--vh, 1vh) * 100); !important */
  margin: 0;
  padding: 0;
}

.css_leftBox {
  height: 100vh;
  width: 10%;
  background: blue;
}

.css_leftPaper {
  background-color: rgb(35, 48, 68) !important;
  height: calc(var(--vh, 1vh) * 100);
}

.css_navHeader {
  height: 8vh;
  display: flex;
  gap: 5%;
  background-color: rgb(35, 48, 68) !important;
  color: white !important;
  font-size: 1.0625rem;
  font-weight: 500;
  align-items: center !important;
}

.css_navList {
  height: 92vh;
  background-color: rgb(35, 48, 68) !important;
}

.css_navListHeader {
  margin: 0px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  font-weight: 500 !important;
  line-height: 1.57 !important;
  color: rgb(238, 238, 238);
  font-size: 0.696429rem !important;
  padding: 16px 28px 4px;
  opacity: 0.4;
  text-transform: uppercase;
  display: block;
}

.css_navListButton {
  display: flex;
  gap: 10%;
  background-color: rgb(35, 48, 68) !important;
  color: white !important;
  align-items: center !important;
}

.css_navListButtonTypo {
  color: rgb(238, 238, 238);
  font-size: 13px !important;
  padding: 0px 16px;
}

.css_navListChildrenButtonTypo {
  color: rgb(238, 238, 238);
  font-size: 12px !important;
  padding: 0px 16px;
}
