html,
body,
#__next {
  height: 100%;
  display: flex;
}

.css-Box {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.css-Paper {
  height: 100%;
  width: 100%;
}

.css-DataGrid {
  height: 100%;
  width: 100%;
}
